# ⚙️ Node.js & Java Build-Dateien
node_modules/
**/node_modules/
target/

# 🐳 Docker-Datenordner (nicht versionieren!)
**/data/
**/mongodata/
**/journal/
**/tmp/
**/logs/

# 🛠️ MongoDB intern
**/WiredTiger*
**/diagnostic.data/
**/storage.bson

# 💾 System- und Konfigurationsdateien
.DS_Store
.env
*.log

# 🖼️ Große Bilddateien (optional)
*.jpg
*.jpeg
*.png